
	<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/milan');">
	  <div class="card-category">MILAN, ITALY</div>
	  <div class="card-description">
	    <h2>Cristina's home</h2>
	    <p>Charming room in Milan</p>
	  </div>
	  <img class="card-user" src="images/Cristina.jpg">
	  <a class="card-link" href="#" ></a>
	  <p class=rating>
	  	<i class="fa fa-star" style="color: #ffb400"></i>
	  	<i class="fa fa-star" style="color: #ffb400"></i>
	  	<i class="fa fa-star" style="color: #ffb400"></i>
	  	<i class="fa fa-star" style="color: #ffb400"></i>
	  	<i class="fa fa-star" style="color: #cacccd"></i>
	  </p>
	</div>
