
	<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
	  <div class="card-category">BERLIN, GERMANY</div>
	  <div class="card-description">
	    <h2>Anders' home</h2>
	    <p>Nice flat in Berlin</p>
	  </div>
	  <img class="card-user" src="images/Anders.jpeg">
	  <a class="card-link" href="#" ></a>
	  <p class=rating>
	  	<i class="fa fa-star" style="color: #ffb400"></i>
	  	<i class="fa fa-star" style="color: #ffb400"></i>
	  	<i class="fa fa-star" style="color: #ffb400"></i>
	  	<i class="fa fa-star" style="color: #cacccd"></i>
	  	<i class="fa fa-star" style="color: #cacccd"></i>
	  </p>
	</div>
